.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.backLink {
  display: flex;
  align-items: center;
  gap: 10px;
}

.link {
  font-size: 16px;
  font-weight: 600;
}
